<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
        <a class="send" href="#">request planes!</a>
        <span class="loading" hidden>loading...</span>
        <span class="done" hidden>done!</span>
    </div>
    <div>
        <table id="results">
            <thead>
                <tr>
                    <th>Make/Model</th>
                    <th>Registration</th>
                    <th>Location</th>
                    <th>Equipment</th>
                    <th>Time Since Last 100hr</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
